header {
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.header .logo {
    background-image: url('../images/logo.png');
    height: 50px;  /* Can be adjusted as needed */
    width: 70px;   /* Can be adjusted as needed */
    background-size: cover;
    background-position: center;
}

